#{extends 'main.html' /}
#{set title:'Events' /}

<div class="container">
  <section>
  <!-- Bet-list -->
  <ul class="betlist-menu">
    <li class="active">Le TOP des paris sportifs</li>
    <li>Les paris de dernière minute</li>
  </ul>
    <div class="betline title row">
      <div class="countdown"></div>
      <div class="info"></div>
      <div class="win-host">1</div>
      <div class="tie-game">Nul</div>
      <div class="win-guest">2</div>
      <div class="bet-types"></div>
      <div class="bet-stats"></div>
    </div>
  #{list items:events, as:'event'}
    <div class="betline row">
      <div class="countdown">7 j</div>
      <div class="info">
        <div class="competition">Football, ${event.competition.name}</div>
        <div class="display">${event.teamHost.name} - ${event.teamGuest.name}</div>
      </div>
      <a id="event1${event.uniq}" class="win-host betButton" data-id-event="${event.uniq}" data-choice="1" data-bet="${event.teamHost.name}" href="${href}">${event.coteHost}</a>
      <a id="event2${event.uniq}" class="tie-game betButton" data-id-event="${event.uniq}" data-choice="2" data-bet="Nul" href="${href}">${event.coteTie}</a>
      <a id="event3${event.uniq}" class="win-guest betButton" data-id-event="${event.uniq}" data-choice="3" data-bet="${event.teamGuest.name}" href="${href}">${event.coteGuest}</a>
      <div class="bet-types">+59</div>
      <div class="bet-stats">
        <img src="@{'/public/images/stats.png'}" alt="Statistiques" title="Statistiques" />
        <img src="@{'/public/images/stats.png'}" alt="Statistiques" title="Statistiques" />
      </div>
    </div>
  #{/list}
  </section>
</div>

<div id="openBetModal" class="modalWindow">
  <a href="#close" title="Close" class="close"></a>
  <div class="modalContent">
    <h2>Votre sélection</h2>
    #{errors} <li>${error}</li> #{/errors}
    <form class="betModalContainer row" action="@{BetManager.bet}" method="post">
      <div class="bet-box col">
        <strong class="betModalTitle"></strong>
        <p class="betModalBetOn">
          <span>Pari sur :</span>
          <span></span>
        </p>
        <p class="betModalQuotation">
          <span>Cote :</span>
          <span></span>
        </p>
        <div class="betModalBet">
          <label for="betInput">Mise :</label>
          <div>
            <input id="betInput" name="betAmount" type="number" min="0" step="0.01" value="${flash["betAmount"]}">
            €
          </div>
        </div>
      </div>
      <div class="bet-box col">
        <div>
          <span>Gain possible :</span>
          <span class="betModalSum">120€</span>
        </div>
        <input type="submit" class="submit betModalSubmit" value="Valider mon pari">
      </div>
      <input id="idEvent" name="idEvent" type="hidden" value="">
      <input id="betChoice" name="betChoice" type="hidden" value="">
      <input id="betQuotation" name="betQuotation" type="hidden" value="">
    </form>
  </div>
</div>
<div class="overlay"></div>

<div id="openErrorBetModal" class="modalWindow">
  <a href="#close" title="Close" class="close"></a>
  <div class="modalContent">
    <h2>Erreur:</h2>
    <div class="betModalContainer row">
      Connectez-vous pour parier
    </div>
  </div>
</div>
<div class="overlay"></div>

<script>
  #{errors}
  document.addEventListener( 'DOMContentLoaded', function () {
    $("#event${flash["betChoice"]}${flash["idEvent"]}").click();
    window.location.href= window.location.href + "#openBetModal";
  }, false );
  #{/errors}
</script>
